TOKEN=ENC[AES256_GCM,data:vdfXEBUZmweYs2ca4W4TW0gGeZ0=,iv:K8J4E8blEQiFecdNZCgIRM+QIvztJnqwrrpY96q3n8Y=,tag:qA+hrZ+wUa5uTB2cJOyUvg==,type:str]
USER_ALIAS=ENC[AES256_GCM,data:EFMVB+MXVcg=,iv:HMslYnZ3cfJCPyaMqm+iejmBv2ElQJ6A6AGVGQsMdUs=,tag:tsRDXD8ZyK1T6AXToBO/5A==,type:str]
RETRY_LIMIT=ENC[AES256_GCM,data:sw==,iv:xTo+OM0goVU+w0fwcNaMUj0pmOFSDaLbfcJIWWq8bPc=,tag:U0ZE2TQVv+tflQLkOy8uDg==,type:str]
FEATURE_FLAGS=ENC[AES256_GCM,data:P7dDWhXnM/KeoTEOBIePUnRA,iv:Fbf1DmP743MSnNMLrxHLxyBbAW6PKBqcYz4KnSP/5HE=,tag:puLbTfDns+W9qnB0WKWOUQ==,type:str]
LOG_LEVEL=ENC[AES256_GCM,data:Ss+g1jA=,iv:fIQhpIeP7Hlqn6eBxSp1GohMt667Adf8vS1r8vVZ8eQ=,tag:LadR1utKM8ScbCzgqU1amw==,type:str]
TIMEOUT_MS=ENC[AES256_GCM,data:ZzQIrg==,iv:JOlwAmY7N07Q980rNBYfrfvMil1mTK7C+8iZv8a4rOc=,tag:3S1Cdu3iaKm9l3Z0QaF9pw==,type:str]
REGION=ENC[AES256_GCM,data:X3ieDfyCY/s1,iv:DA6IcdjrzR6BYURbLz/Yt6rBDmBq259rvcLLRSA+Iaw=,tag:zc10UqrxDwjdAmODdGgJIg==,type:str]
LOCALE=ENC[AES256_GCM,data:c2QKjOU=,iv:4a+st1UnB21EJedHlOGMDYzvwH5K3g7I7NqF5JRCH/0=,tag:DUJwVNVRINt+9r6B/mGCfw==,type:str]
MODE=ENC[AES256_GCM,data:pBAO+rBV,iv:lGV5CR9hbFRiEIQQAa3lfTWViW+0MW85t4di8BIB0W4=,tag:JXZTlrXtrMc2CIGfEUiMTg==,type:str]
BETA=ENC[AES256_GCM,data:yfYcdQ==,iv:p8AoZW4HABBd6vfIfO/3rnQADqIFk6Q6UasXeHk5ymE=,tag:om2AulG9gcX10DwZ8DZUFw==,type:str]
CACHE_SIZE=ENC[AES256_GCM,data:C5lh,iv:HPBojRO/VAj556Lbs42CBXV86oa0rmy6LHUgyTaSgq4=,tag:B4YajiGigmVJGmIo1HlI6Q==,type:str]
THREADS=ENC[AES256_GCM,data:Ag==,iv:epWys0M3i7cJ7rTy+QGXERQ9FIfP87okA4RJinvlf54=,tag:UvmvmYRP84bHqD1VpOiUFA==,type:str]
PORT=ENC[AES256_GCM,data:mC9SDg==,iv:h+9Ky2udJiO3Ny0E25uvQkVyt+lMpZwWWVdsFf5sc9E=,tag:69knjDjWYagx7DzQN8oCNg==,type:str]
SESSION_ID=ENC[AES256_GCM,data:kbAu7PUHmyjumec=,iv:5EAZg3ogUmxbSr1PxZjq0ft+k6j+kfIhKGArrPvODGM=,tag:wuwelyvguNkHVjDTllgwyg==,type:str]
API_VERSION=ENC[AES256_GCM,data:oy0=,iv:KZfbSs2zPaRujaB9C3Qk3oOPw52BhI8K/4U5BzUgWtA=,tag:STbvdOT7GQ4I4rVpLdB9fA==,type:str]
ENABLE_TRACING=ENC[AES256_GCM,data:hg==,iv:69FshOapf0lP29vAICOhle7rLS2jpwknWzclhm+Gaec=,tag:3IvVWvzbgMaV3qowLOGrJQ==,type:str]
STARTUP_DELAY=ENC[AES256_GCM,data:9Qmi,iv:CIUoa8fDmxmZgKq/+X1KQUXSp9GG+DM84lLvz2RsWYg=,tag:jVrGENxK9DBGiUyz2jfnJg==,type:str]
SAMPLE_RATE=ENC[AES256_GCM,data:efSZFA==,iv:O/Njw/fNPoKFMxZYTA69l9LTyLFhYWaNrQTJZVxPNrY=,tag:ugVIsNZzbznmLTrf4TksQQ==,type:str]
JOB_QUEUE=ENC[AES256_GCM,data:PsbKiBMRWE4=,iv:f+uHfypoDEGTz5rtKxX/SnvUQQxMMwvl/UoCuH+JzdY=,tag:mg9k/VzPNbhQl2LtUpPzYw==,type:str]
SECRET_SALT=ENC[AES256_GCM,data:YIggHORH,iv:GzKTCOhtobx+wYCCMHAWr60rG4jZRNaLoHRMT9HM7k0=,tag:J6E7ZhcdwVRLGMiMyp3jeg==,type:str]
sops_age__list_0__map_enc=-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA2a1djSnNrUTVyMDFFM2c4\naXFwOTN2VU53LzBRYTMyUStPZ0c1bU1yN2xFCnN2VThjUGxQRTVVZzBnd1IyUnlo\ndG1GdHNjYnE1VnVpQkU2UTFVYjlxTEEKLS0tIHp1YmxTSEYrei9hdWRKWjJDYXQx\nUGFFeVN2Qk5GZ04zVjA2RFgxbEhndGcK1d6kPqqBVpoLHhXdG/XBUjLzF2KNYxAg\nycd/UEc7ljt9tGSKyj7r4c1nou1gGfeY11PAAiZBbXHYrPMR8dSopg==\n-----END AGE ENCRYPTED FILE-----\n
sops_age__list_0__map_recipient=age1322uu60fpjzgjktx7uaqmafy5tq99j7d3qkrvhm0un4dqtlmly7s9cn0ft
sops_lastmodified=2025-11-26T23:55:30Z
sops_mac=ENC[AES256_GCM,data:N417iJOSa7Km9UUMTCJKj9dcpC1X2otcdFH9lrom/GmM/+/4EXYeR7LO7dYphZVe6PUfdE/7Yi28Z6+5MBxhWA2prTlaoKcfxnFSAWBKcj855yP9Y2ADZJLqw7Lwqg5CbAPz7XtOli7hIjo8yItDRVSwDNBAc6aiwIcI0SuLLIM=,iv:xmHylxy1t3Wb21uM092B7AzyHkZc6fFgQ6kHRoDgrIY=,tag:wOmEVWdPbfAI9QYN862iDw==,type:str]
sops_unencrypted_suffix=_unencrypted
sops_version=3.11.0
